.pokemon-card {
    display: flex;
    filter: drop-shadow(2px 4px 8px #585858);
    border-radius: 3px;
    background-color: #091226ce;
    color: yellow;
    
}

.pokemon-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.pokemon-img-container {
    padding: 0 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    flex: 1;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.card-top h3 {
    text-transform: capitalize;

}

.card-botton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-type {
    display: flex;
}
.pokemon-type-text {
   margin-right: 10px;
   text-transform: capitalize;
   background-color: yellow;
   color: #091226;
   padding: 2px 14px;
   border-radius: 15px;
}