.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar input {
    padding: 7px;
    margin: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    border: none;
} 

.searchbar-btn {
    color: #091226;
    padding: 5px;
    cursor: pointer;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.test {
    background-color: #bf1650;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color:  #091226;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    width: 250px;
    margin: 0 auto;
}

.pokemon-img {
    width: auto;
    filter: drop-shadow(2px 4px 8px #585858);
}

.data {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    opacity: 0.2;
    font-size: .9rem;
    color: black;
}