.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar input {
    padding: 7px;
    margin: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    border: none;
} 

.searchbar-btn {
    color: #091226;
    padding: 5px;
    cursor: pointer;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.test {
    background-color: #bf1650;
}

.info-container {
    display: flex;
    background-color:  #bf1650;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}

.info-container img {
    width: auto;
}