nav {
    background-color: #091226;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-img {
    width: 160px;
}

.text-favorite-pokemons {
    color: white;
}