nav {
    background-color: #091226;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-img {
    width: 160px;
}

.text-favorite-pokemons {
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-container .text-favorite-pokemons {
    background-color: #4979e274;
    padding: 10px 30px;
    border-radius: 0 30px;
    color: yellow;
    font-size: 1.1rem;

}